# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# Please make sure to check all the converted content, it is your team's responsibility to make sure that the pipeline is still valid and functions as expected.
steps:
- task: CodesignValidation@0
- task: SdtReport@1
  displayName: "Security Analysis Report"
  continueOnError: true
  condition: succeededOrFailed()
  inputs:
    AllTools: false
    APIScan: false
    BinSkim: false
    BinSkimBreakOn: "WarningAbove"
    CodesignValidation: false
    CodesignValidationBreakOn: "WarningAbove"
    CredScan: true
    FortifySCA: false
    FxCop: false
    ModernCop: false
    MSRD: false
    PoliCheck: true
    PoliCheckBreakOn: "Severity1"
    RoslynAnalyzers: false
    RoslynAnalyzersBreakOn: "WarningAbove"
    SDLNativeRules: false
    Semmle: false
    TSLint: false
    TSLintBreakOn: "WarningAbove"
    ToolLogsNotFoundAction: "Standard"
- task: PublishSecurityAnalysisLogs@3
  displayName: "Publish Security Analysis Logs"
  inputs:
    ArtifactName: "CodeAnalysisLogs"
    ArtifactType: "Container"
    AllTools: false
    AntiMalware: false
    APIScan: false
    BinSkim: false
    CodesignValidation: false
    CredScan: true
    FortifySCA: false
    FxCop: false
    ModernCop: true
    MSRD: false
    PoliCheck: true
    RoslynAnalyzers: false
    SDLNativeRules: false
    Semmle: false
    TSLint: true
    WebScout: false
    ToolLogsNotFoundAction: "Standard"